
header {
  background-color: #333 !important;
}
h1 {
  color: #00CAF2 !important;
  font-weight: 900 !important;
}
h2 {
  color: #80bffe !important;
}

.message-input {
  min-height: 45px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.guppy-irc-messages-container {
  overflow: auto;
  display: inline-block;
  width: 100%;
  height: calc(100% - 5rem);
}

.guppy-irc-user-list-container {
  overflow: auto;
  display: inline-block;
}


/** MOZILLA **/
html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}

section[role="region"] {
  height: 100%;
  line-height: 1em;
  font-size: 2.2rem;
}

div[role="main"] {
  background: #fff;
  height: calc(100% - 5rem);
  overflow: hidden;
  width: 100%;
}

/*div[role="main"] p {
  margin: 2rem 2.5rem;
}*/

section[role="region"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

#settings-view {
  z-index: 10;
}

.move-down {
  transform: translateY(100%);
  transition: all 0.2s;
}

.move-up {
  transform: translateY(0);
  transition: all 0.2s;
}

/* Base icons */
section[data-type="sidebar"] > header .icon.icon-add {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo4RTlFMTExOTIwMjA2ODExODIyQUJFQTc4MUU4NEEyOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpENjM1MzgyMUJGNzAxMUUxQkNDOEUwRkExQ0U5N0Q0QiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpENjM1MzgyMEJGNzAxMUUxQkNDOEUwRkExQ0U5N0Q0QiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Mzk0RjYxOUMzMTIwNjgxMTgyMkFBRjgxQ0IyNTAxM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OEU5RTExMTkyMDIwNjgxMTgyMkFCRUE3ODFFODRBMjkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz45ZU6fAAAAiklEQVR42mL8//8/w0AAJoYBAqMW0w2wkKmPH4hVoOw7QPyRVAMYyUzVD4FYDsq+DMR6o3E8avGoxbiykxAQ78KjTxeI2aDs70B8DY9aZ2z5HJfFIIMvUclzGkB8c9AXmU+B+CyVgvrFaJE5avGoxQNSZBICzEBsAGVfAOK/9LJ4NI5HLSYIAAIMAKfZJ7+0GO5HAAAAAElFTkSuQmCC);
}

form { margin: 1rem 2rem; }

form[role="search"] button.icon-attachment:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjRDOEE3NkY5ODdEMTFFMjkwQTRGMjQ4RjZEMzhDQzkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjRDOEE3NzA5ODdEMTFFMjkwQTRGMjQ4RjZEMzhDQzkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNEM4QTc2RDk4N0QxMUUyOTBBNEYyNDhGNkQzOENDOSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNEM4QTc2RTk4N0QxMUUyOTBBNEYyNDhGNkQzOENDOSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PkuOQLYAAAGRSURBVHja7JZNRERRGIbvVGYVERHRKiKG2kQZIibSKqZNi1mlNlGklCitZohI1KrlXI2GIRJRWqQYpUWrtGgbKVJE5PYe3sPnkvt3xpD78bjj3OM+3nO+c0zCcRyrHtVg1ali8f8XN/31IjWYDvqtZpAEb3Lw/uqyZokz4A58gFfwCLK1XupVcArawDbYBI3gECyHWmoftQY2wDUYBe8cXwcnfFcCTyYTS+mIkKr6AvPc76zJpdbSW1AFN+AC9Is5OmWHKbGWVplyjglTXN5WztNH4sGEWEqVbBgUQB+YoXQAtIMd8AnKUZtLSr/BEDt4hXs5zXlKdgY6wQR4iZLYLU0z6RKlBzzLNtgF3SAHKlGO0yKl6vr5YdKCSKqk4+AI9AqpHfrK5Ify4pyO8bdbWqHQt9RLPMlbKMe9KxElLVKqmqcnqNRLnOTz2TVW5MVQ5jHqCir1aq5zPvNM3sI7WEn3mDSU1Cuxaph9MEt0bYEFboUVRuqnq6fYPBl29bFYCduKUIn4720sjsWm6leAAQD4qmIfI9EPMQAAAABJRU5ErkJggg==);
}



/** guppy default stylings **/
/* system message lines */
.guppy-irc-error-line {
  color: red;
  margin: 0;
}
.guppy-irc-status-line {
  margin: 0;
  color: blue;
}
.guppy-irc-user-list-entry {
  margin: 0 0 0 5%;
  white-space: nowrap;
}
/* messages */
.guppy-irc-message-line {
  margin: 0;
}
.guppy-irc-message-nick {
  font-weight: bold;
}
.guppy-irc-message-nick-decorator {
  margin: 0 5px 0 2px;
}
.guppy-irc-message-nick-to-me {
  color: brown;
}
/* messages history */
.guppy-irc-messages-history-container {
  opacity: .9;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}
